dify_workflow.yml
app:
  description: Automated workflow for fetching RSS items, rewriting content, and publishing to WordPress.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Local News Automation V3
  use_icon_as_answer_icon: false

kind: app
version: 0.5.0

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
          - local_file
          - remote_url
    opening_statement: ""
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    text_to_speech:
      enabled: false
      language: ""
      voice: ""

  graph:
    edges:
      - id: edge_1
        source: start
        sourceHandle: source
        target: get_item_data
        targetHandle: target
        type: custom
      - id: edge_2
        source: get_item_data
        sourceHandle: source
        target: fetch_jina
        targetHandle: target
        type: custom
      - id: edge_3
        source: fetch_jina
        sourceHandle: source
        target: dedup_check
        targetHandle: target
        type: custom
      - id: edge_4
        source: dedup_check
        sourceHandle: source
        target: is_duplicate
        targetHandle: target
        type: custom
      - id: edge_5_true
        source: is_duplicate
        sourceHandle: 'true'
        target: update_skipped
        targetHandle: target
        type: custom
      - id: edge_5_false
        source: is_duplicate
        sourceHandle: 'false'
        target: ai_rewrite
        targetHandle: target
        type: custom
      - id: edge_6
        source: ai_rewrite
        sourceHandle: source
        target: sanity_check
        targetHandle: target
        type: custom
      - id: edge_7
        source: sanity_check
        sourceHandle: source
        target: sanity_router
        targetHandle: target
        type: custom
      - id: edge_8_true
        source: sanity_router
        sourceHandle: 'true'
        target: publish_wp
        targetHandle: target
        type: custom
      - id: edge_8_false
        source: sanity_router
        sourceHandle: 'false'
        target: update_failure
        targetHandle: target
        type: custom
      - id: edge_9
        source: publish_wp
        sourceHandle: source
        target: update_success
        targetHandle: target
        type: custom

    nodes:
      - id: start
        position: { x: 80, y: 282 }
        type: custom
        data:
          title: Start
          type: start
          desc: "Entry point"
          variables:
            - label: Item ID
              variable: item_id
              type: text-input
              required: true
              max_length: 48
            - label: Supabase URL
              variable: supabase_url
              type: text-input
              required: true
              default: "https://ugpmpinhkdndajjflnfz.supabase.co"
            - label: Supabase Key
              variable: supabase_key
              type: text-input
              required: true
              default: "sb_publishable_sOvTFpHdhiVwgW1SL14TDA_tRcQ7pTx"

      - id: get_item_data
        position: { x: 380, y: 282 }
        type: custom
        data:
          title: Get Item Data
          type: http-request
          method: get
          url: "{{#start.supabase_url#}}/rest/v1/items"
          params: "select=*,sources(*)&id=eq.{{#start.item_id#}}"
          headers: 
            Authorization: "Bearer {{#start.supabase_key#}}"
            apikey: "{{#start.supabase_key#}}"
          timeout: { max_connect_timeout: 0, max_read_timeout: 0, max_write_timeout: 0 }
          authorization: { type: no-auth }

      - id: fetch_jina
        position: { x: 680, y: 282 }
        type: custom
        data:
          title: Fetch Jina Content
          type: http-request
          method: get
          url: "https://r.jina.ai/{{#get_item_data.body[0].original_url#}}"
          timeout: { max_connect_timeout: 0, max_read_timeout: 0, max_write_timeout: 0 }
          authorization: { type: no-auth }

      - id: dedup_check
        position: { x: 980, y: 282 }
        type: custom
        data:
          title: Dedup Check
          type: code
          code_language: python3
          variables:
            - value_selector: ['fetch_jina', 'body']
              variable: text
            - value_selector: ['start', 'item_id']
              variable: current_id
            - value_selector: ['start', 'supabase_url']
              variable: supabase_url
            - value_selector: ['start', 'supabase_key']
              variable: supabase_key
          code: |
            import hashlib
            import requests
            import json
            
            def main(text, current_id, supabase_url, supabase_key):
                if not text:
                    return {"is_duplicate": False, "cleaned_text": ""}
                
                content_hash = hashlib.sha256(text.encode('utf-8')).hexdigest()
                headers = {"apikey": supabase_key, "Authorization": "Bearer " + supabase_key}
                
                check_url = f"{supabase_url}/rest/v1/items?select=id&content_hash=eq.{content_hash}&id=neq.{current_id}"
                try:
                    resp = requests.get(check_url, headers=headers)
                    duplicates = resp.json()
                    is_dup = len(duplicates) > 0
                except:
                    is_dup = False

                try:
                    patch_url = f"{supabase_url}/rest/v1/items?id=eq.{current_id}"
                    requests.patch(patch_url, headers=headers, json={"content_hash": content_hash})
                except:
                    pass
                    
                return {
                    "is_duplicate": is_dup,
                    "cleaned_text": text
                }
          outputs:
            - is_duplicate
            - cleaned_text

      - id: is_duplicate
        position: { x: 1280, y: 282 }
        type: custom
        data:
          title: Is Duplicate?
          type: if-else
          conditions:
            - comparison_operator: is_true
              variable_selector: 
                - dedup_check
                - result
                - is_duplicate

      - id: update_skipped
        position: { x: 1580, y: 100 }
        type: custom
        data:
          title: Set Skipped
          type: http-request
          method: patch
          url: "{{#start.supabase_url#}}/rest/v1/items?id=eq.{{#start.item_id#}}"
          body: 
            type: json
            data: '{"status": "SKIPPED_DUPLICATE"}'
          headers:
            Authorization: "Bearer {{#start.supabase_key#}}"
            apikey: "{{#start.supabase_key#}}"
            Content-Type: "application/json"
          timeout: { max_connect_timeout: 0, max_read_timeout: 0, max_write_timeout: 0 }
          authorization: { type: no-auth }

      - id: ai_rewrite
        position: { x: 1580, y: 400 }
        type: custom
        data:
          title: AI Rewrite
          type: llm
          model: 
            provider: openai
            name: gpt-4o-mini
            mode: chat
            completion_params: { temperature: 0.7 }
          prompt_template:
            - role: system
              text: "You are a local news journalist."
            - role: user
              text: "Input Text:\n{{#dedup_check.result.cleaned_text#}}\n\nTask: Rewrite this news for a local portal. Return ONLY a JSON object with keys: 'title', 'content' (HTML format, h2 and p tags only), 'excerpt'."
          context: { enabled: false, variable_selector: [] }
          vision: { enabled: false }

      - id: sanity_check
        position: { x: 1880, y: 400 }
        type: custom
        data:
          title: Sanity Check
          type: code
          code_language: python3
          variables:
             - value_selector: ['ai_rewrite', 'text']
               variable: llm_response
          code: |
            import json
            def main(llm_response):
                try:
                    clean_resp = llm_response.replace('```json', '').replace('```', '').strip()
                    data = json.loads(clean_resp)
                    content = data.get('content', '')
                    if len(content) < 200:
                        return {"status": "fail", "error": "Content too short"}
                    return {"status": "pass", "title": data['title'], "content": content}
                except Exception as e:
                    return {"status": "fail", "error": str(e)}
          outputs:
            - status
            - title
            - content
            - error

      - id: sanity_router
        position: { x: 2180, y: 400 }
        type: custom
        data:
          title: Sanity Passed?
          type: if-else
          conditions:
            - comparison_operator: equal
              value: pass
              variable_selector:
                - sanity_check
                - result
                - status

      - id: publish_wp
        position: { x: 2480, y: 200 }
        type: custom
        data:
          title: Publish to WP
          type: http-request
          method: post
          url: "{{#get_item_data.body[0].sources.wp_api_endpoint#}}/posts"
          body:
            type: json
            data: |
              {
                "title": "{{#sanity_check.result.title#}}",
                "content": "{{#sanity_check.result.content#}}",
                "status": "publish"
              }
          headers:
            Authorization: "Basic {{#get_item_data.body[0].sources.wp_auth_header#}}"
            Content-Type: "application/json"
          timeout: { max_connect_timeout: 0, max_read_timeout: 0, max_write_timeout: 0 }
          authorization: { type: no-auth }

      - id: update_success
        position: { x: 2880, y: 200 }
        type: custom
        data:
          title: Update Success
          type: http-request
          method: patch
          url: "{{#start.supabase_url#}}/rest/v1/items?id=eq.{{#start.item_id#}}"
          body:
            type: json
            data: '{"status": "PUBLISHED", "wp_post_id": "{{#publish_wp.body.id#}}"}'
          headers:
            Authorization: "Bearer {{#start.supabase_key#}}"
            apikey: "{{#start.supabase_key#}}"
            Content-Type: "application/json"
          timeout: { max_connect_timeout: 0, max_read_timeout: 0, max_write_timeout: 0 }
          authorization: { type: no-auth }
      
      - id: update_failure
        position: { x: 2480, y: 500 }
        type: custom
        data:
          title: Update Failure
          type: http-request
          method: patch
          url: "{{#start.supabase_url#}}/rest/v1/items?id=eq.{{#start.item_id#}}"
          body:
            type: json
            data: '{"status": "FAILED_SANITY", "error_message": "{{#sanity_check.result.error#}}"}'
          headers:
            Authorization: "Bearer {{#start.supabase_key#}}"
            apikey: "{{#start.supabase_key#}}"
            Content-Type: "application/json"
          timeout: { max_connect_timeout: 0, max_read_timeout: 0, max_write_timeout: 0 }
          authorization: { type: no-auth }
