dify_workflow.yml
app:
  description: Zautomatyzowany workflow do pobierania wpis贸w RSS, przepisywania treci i publikacji na WordPress.
  icon: 
  icon_background: '#FFEAD5'
  mode: workflow
  name: Local News Automation V9 (Pro Prompt & Logic)
  use_icon_as_answer_icon: false

dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.0.26@c1e643ac6a7732f6333a783320b4d3026fa5e31d8e7026375b98d44418d33f26
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/jina_tool:0.0.7@08d5935b56b9ddaa633204874c0fd796c14971489b6379fad1a430b5ec99b569
    version: null

kind: app
version: 0.5.0

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - id: edge-1
      source: '1720000000001'
      sourceHandle: source
      target: '1720000000002'
      targetHandle: target
      type: custom
    - id: edge-parser
      source: '1720000000002'
      sourceHandle: source
      target: '1720000000095'
      targetHandle: target
      type: custom
    - id: edge-2
      source: '1720000000095'
      sourceHandle: source
      target: '1720000000003'
      targetHandle: target
      type: custom
    - id: edge-3
      source: '1720000000003'
      sourceHandle: source
      target: '1720000000004'
      targetHandle: target
      type: custom
    - id: edge-4
      source: '1720000000004'
      sourceHandle: source
      target: '1720000000005'
      targetHandle: target
      type: custom
    - id: edge-5-true
      source: '1720000000005'
      sourceHandle: 'true'
      target: '1720000000006'
      targetHandle: target
      type: custom
    - id: edge-5-false
      source: '1720000000005'
      sourceHandle: 'false'
      target: '1720000000007'
      targetHandle: target
      type: custom
    - id: edge-6
      source: '1720000000007'
      sourceHandle: source
      target: '1720000000008'
      targetHandle: target
      type: custom
    - id: edge-7
      source: '1720000000008'
      sourceHandle: source
      target: '1720000000009'
      targetHandle: target
      type: custom
    - id: edge-8-true
      source: '1720000000009'
      sourceHandle: 'true'
      target: '1720000000010'
      targetHandle: target
      type: custom
    - id: edge-8-false
      source: '1720000000009'
      sourceHandle: 'false'
      target: '1720000000012'
      targetHandle: target
      type: custom
    - id: edge-wp-check
      source: '1720000000010'
      sourceHandle: source
      target: '1720000000100'
      targetHandle: target
      type: custom
    - id: edge-wp-success
      source: '1720000000100'
      sourceHandle: 'true'
      target: '1720000000011'
      targetHandle: target
      type: custom
    - id: edge-wp-fail
      source: '1720000000100'
      sourceHandle: 'false'
      target: '1720000000101'
      targetHandle: target
      type: custom
    - id: edge-end-1
      source: '1720000000006'
      sourceHandle: source
      target: '1720000000099'
      targetHandle: target
      type: custom
    - id: edge-end-2
      source: '1720000000011'
      sourceHandle: source
      target: '1720000000099'
      targetHandle: target
      type: custom
    - id: edge-end-3
      source: '1720000000012'
      sourceHandle: source
      target: '1720000000099'
      targetHandle: target
      type: custom
    - id: edge-end-4
      source: '1720000000101'
      sourceHandle: source
      target: '1720000000099'
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: Entry point
        selected: false
        title: Start
        type: start
        variables:
        - label: Item ID
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: item_id
        - label: Supabase URL
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: supabase_url
          default: "https://btlgsucqnbtgiscoldtv.supabase.co"
        - label: Supabase Key
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: supabase_key
          default: "sb_publishable_0CVh8abfnU8lyGt0QYp8Pw_PdB6SdOi"
      height: 116
      id: '1720000000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: "Authorization:Bearer {{#1720000000001.supabase_key#}}\napikey:{{#1720000000001.supabase_key#}}"
        method: get
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Pobranie Danych Item
        type: http-request
        url: "{{#1720000000001.supabase_url#}}/rest/v1/items?select=*,sources(*)&id=eq.{{#1720000000001.item_id#}}"
        variables: []
      height: 104
      id: '1720000000002'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          def main(http_response):
              import json
              
              try:
                  if not http_response:
                      return {"original_url": "", "wp_domain": "", "wp_user": "", "wp_app_password": "", "error": "Empty response"}

                  body_str = http_response
                  data = json.loads(body_str)
                  
                  item = None
                  if isinstance(data, list) and len(data) > 0:
                      item = data[0]
                  elif isinstance(data, dict):
                      item = data
                      
                  if not item:
                      return {"original_url": "", "wp_domain": "", "wp_user": "", "wp_app_password": "", "error": "No data found"}
                      
                  url = item.get("original_url", "")
                  source = item.get("sources", {})
                  
                  if not source:
                       return {"original_url": url, "wp_domain": "", "wp_user": "", "wp_app_password": "", "error": "Source data missing"}
                  
                  wp_endpoint = source.get("wp_api_endpoint", "")
                  wp_domain = wp_endpoint.replace("/wp-json/wp/v2", "").rstrip("/")
                  
                  user = source.get("wp_username", "")
                  pwd = source.get("wp_app_password", "").replace(" ", "")
                  
                  cats = source.get("target_categories", "")
                  
                  return {
                      "original_url": url, 
                      "wp_domain": wp_domain, 
                      "wp_user": user, 
                      "wp_app_password": pwd,
                      "target_categories": cats,
                      "error": ""
                  }
              except Exception as e:
                  return {"original_url": "", "wp_domain": "", "wp_user": "", "wp_app_password": "", "target_categories": "", "error": str(e)}
        code_language: python3
        desc: 'Parsuje JSON z Supabase i wyciga dane do publikacji'
        outputs:
          original_url:
            type: string
          wp_domain:
            type: string
          wp_user:
            type: string
          wp_app_password:
            type: string
          target_categories:
            type: string
          error:
            type: string
        selected: false
        title: Data Parser
        type: code
        variables:
        - value_selector:
          - '1720000000002'
          - body
          variable: http_response
      height: 54
      id: '1720000000095'
      position:
        x: 530
        y: 282
      positionAbsolute:
        x: 530
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        provider_id: langgenius/jina_tool/jina
        provider_name: langgenius/jina_tool/jina
        provider_type: builtin
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: Pobranie Treci (Jina)
        tool_configurations:
          gather_all_images_at_the_end:
            type: constant
            value: 0
          gather_all_links_at_the_end:
            type: constant
            value: 0
          image_caption:
            type: constant
            value: 0
          max_retries:
            type: constant
            value: 3
          no_cache:
            type: constant
            value: 0
          no_cache_track:
            type: constant
            value: 0
          proxy_server:
            type: constant
            value: null
          remove_images:
            type: constant
            value: null
          summary:
            type: constant
            value: 0
          target_selector:
            type: constant
            value: null
          wait_for_selector:
            type: constant
            value: null
        tool_description: Fetch the target URL (can be a PDF) and convert it into
          a LLM-friendly markdown.
        tool_label: Fetch Single Page
        tool_name: jina_reader
        tool_node_version: '2'
        tool_parameters:
          url:
            type: mixed
            value: '{{#1720000000095.original_url#}}'
        type: tool
      height: 104
      id: '1720000000003'
      position:
        x: 830
        y: 282
      positionAbsolute:
        x: 830
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import hashlib\nimport requests\nimport json\n\ndef main(text, current_id, supabase_url, supabase_key):\n    if not text:\n        return {\"is_duplicate\": False, \"cleaned_text\": \"\"}\n    \n    # Encode text properly for hash\n    try:\n        content_hash = hashlib.sha256(str(text).encode('utf-8')).hexdigest()\n    except:\n        content_hash = \"error_hash\"\n        \n    headers = {\"apikey\": supabase_key, \"Authorization\": \"Bearer \" + supabase_key}\n    \n    check_url = f\"{supabase_url}/rest/v1/items?select=id&content_hash=eq.{content_hash}&id=neq.{current_id}\"\n    is_dup = False\n    try:\n        resp = requests.get(check_url, headers=headers)\n        duplicates = resp.json()\n        if isinstance(duplicates, list) and len(duplicates) > 0:\n             is_dup = True\n    except Exception as e:\n        print(f\"Check error: {e}\")\n        is_dup = False\n\n    try:\n        patch_url = f\"{supabase_url}/rest/v1/items?id=eq.{current_id}\"\n        requests.patch(patch_url, headers=headers, json={\"content_hash\": content_hash})\n    except Exception as e:\n        print(f\"Patch error: {e}\")\n        \n    return {\n        \"is_duplicate\": is_dup,\n        \"cleaned_text\": text\n    }"
        code_language: python3
        desc: ''
        outputs:
          is_duplicate:
            type: boolean
          cleaned_text:
            type: string
        selected: false
        title: Sprawdzenie Duplikat贸w
        type: code
        variables:
        - value_selector:
          - '1720000000003'
          - text
          variable: text
        - value_selector:
          - '1720000000001'
          - item_id
          variable: current_id
        - value_selector:
          - '1720000000001'
          - supabase_url
          variable: supabase_url
        - value_selector:
          - '1720000000001'
          - supabase_key
          variable: supabase_key
      height: 54
      id: '1720000000004'
      position:
        x: 1130
        y: 282
      positionAbsolute:
        x: 1130
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: 'contains'
            id: cond_1
            value: 'true'
            varType: boolean
            variable_selector:
            - '1720000000004'
            - is_duplicate
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: Czy Duplikat?
        type: if-else
      height: 126
      id: '1720000000005'
      position:
        x: 1430
        y: 282
      positionAbsolute:
        x: 1430
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - key: ''
            type: text
            value: '{"status": "SKIPPED_DUPLICATE"}'
          type: json
        desc: ''
        headers: "Authorization:Bearer {{#1720000000001.supabase_key#}}\napikey:{{#1720000000001.supabase_key#}}\nContent-Type:application/json\nPrefer: return=representation"
        method: patch
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Oznacz jako Pominity
        type: http-request
        url: "{{#1720000000001.supabase_url#}}/rest/v1/items?id=eq.{{#1720000000001.item_id#}}"
        variables: []
      height: 104
      id: '1720000000006'
      position:
        x: 1730
        y: 100
      positionAbsolute:
        x: 1730
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: system_msg
          role: system
          text: |
            Jeste dowiadczonym dziennikarzem i redaktorem w lokalnym portalu informacyjnym w Polsce.
            Twoim celem jest tworzenie anga偶ujcych, rzetelnych i wietnie czytajcych si artyku贸w (news贸w) na podstawie surowych danych.
            
            WYTYCZNE REDAKCYJNE:
            1. **Styl:** Dziennikarski, konkretny, ale lekki. Unikaj urzdowego 偶argonu ("funkcjonariusze udali si", "dokonano zatrzymania" zamie na "policjanci pojechali", "zatrzymali").
            2. **Struktura:** 
               - **Chwytliwy Tytu (Click-worthy, ale nie clickbait):** Musi przyciga uwag lokalnego czytelnika.
               - **Lead (Wstp):** Esencja newsa - Kto? Co? Gdzie? Kiedy? (max 2-3 zdania, pogrubione).
               - **Body:** Rozwinicie tematu, kontekst, cytaty (jeli s), skutki dla mieszkac贸w.
               - **Ekspert/Kontekst:** Jeli temat tego wymaga, dodaj kr贸tkie wyjanienie prawne lub spoeczne.
            3. **Formatowanie:** U偶ywaj tag贸w HTML dla czytelnoci: `<h2>` dla r贸dtytu贸w, `<p>` dla akapit贸w, `<ul>/<li>` dla list. NIE u偶ywaj Markdown (```, **).
            4. **Jzyk:** Polski, poprawny gramatycznie i interpunkcyjnie.
            5. **Dugo:** Optimum to 300-500 s贸w. Nie lej wody, ale wyczerp temat.

            Zadanie: Przeanalizuj poni偶szy tekst wejciowy i napisz na jego podstawie profesjonalny artyku do serwisu lokalnego.
        - id: user_msg
          role: user
          text: |
            Tekst wejciowy (藕r贸do):
            {{#1720000000004.cleaned_text#}}

            ZWROT DANYCH:
            Zwr贸 WYCZNIE surowy obiekt JSON (bez znacznik贸w ```json) o nastpujcej strukturze:
            {
              "title": "Tw贸j tytu tutaj",
              "content": "Tw贸j artyku w HTML (lead jako pierwszy akapit, potem h2, p itd.)",
              "excerpt": "Kr贸tkie streszczenie (do 160 znak贸w) pod SEO/Social Media"
            }
        selected: false
        title: AI Rewrite (Dziennikarz PRO)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1720000000007'
      position:
        x: 1730
        y: 400
      positionAbsolute:
        x: 1730
        y: 400
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef main(llm_response):\n    try:\n        # Clean up markdown code blocks if present\n        clean_resp = llm_response.replace('```json', '').replace('```', '').strip()\n        data = json.loads(clean_resp)\n        content = data.get('content', '')\n        \n        if len(content) < 200:\n            return {\"status\": \"fail\", \"error\": \"Content too short\", \"title\": \"\", \"content\": \"\"}\n            \n        return {\"status\": \"pass\", \"title\": data.get('title', ''), \"content\": content, \"error\": \"\"}\n    except Exception as e:\n        return {\"status\": \"fail\", \"error\": str(e), \"title\": \"\", \"content\": \"\"}"
        code_language: python3
        desc: ''
        outputs:
          status:
            type: string
          title:
            type: string
          content:
            type: string
          error:
            type: string
        selected: false
        title: Sanity Check
        type: code
        variables:
        - value_selector:
          - '1720000000007'
          - text
          variable: llm_response
      height: 54
      id: '1720000000008'
      position:
        x: 2030
        y: 400
      positionAbsolute:
        x: 2030
        y: 400
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: 'contains'
            id: cond_sanity
            value: 'pass'
            varType: string
            variable_selector:
            - '1720000000008'
            - status
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: Sanity Passed?
        type: if-else
      height: 126
      id: '1720000000009'
      position:
        x: 2330
        y: 400
      positionAbsolute:
        x: 2330
        y: 400
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          def main(domain, api_user, api_key, title, content, target_categories):
              import requests
              import json
              import base64

              try:
                  def normalize_url(url):
                      if not url.startswith(('http://', 'https://')):
                          url = 'https://' + url
                      return url.rstrip('/')

                  base_url = normalize_url(domain)
                  api_endpoint = f"{base_url}/wp-json/wp/v2/posts"
                  
                  # Auth
                  creds = f"{api_user}:{api_key}"
                  token = base64.b64encode(creds.encode("utf-8")).decode("utf-8")
                  headers = {
                      "Authorization": f"Basic {token}",
                      "Content-Type": "application/json"
                  }
                  
                  # Category Logic
                  category_ids = []
                  if target_categories:
                      # 1. Fetch all categories
                      cat_url = f"{base_url}/wp-json/wp/v2/categories?per_page=100"
                      try:
                          cat_resp = requests.get(cat_url, headers=headers, timeout=10)
                          if cat_resp.status_code == 200:
                              all_cats = cat_resp.json()
                              # Split target names
                              target_names = [c.strip().lower() for c in target_categories.split(",")]
                              
                              for t_name in target_names:
                                  # Find match
                                  for cat in all_cats:
                                      if cat['name'].lower() == t_name:
                                          category_ids.append(cat['id'])
                                          break
                          else:
                              print(f"Warning: Could not fetch categories. Status: {cat_resp.status_code}")
                      except Exception as e:
                          print(f"Warning: Category fetch error: {e}")

                  post_data = {
                      'title': title,
                      'content': content,
                      'status': 'draft'
                  }
                  
                  if category_ids:
                      post_data['categories'] = category_ids
                  
                  resp = requests.post(api_endpoint, json=post_data, headers=headers, timeout=30)
                  
                  if resp.status_code == 201:
                      data = resp.json()
                      return {
                          "success": "true", 
                          "id": str(data.get('id')), 
                          "link": data.get('link'), 
                          "message": "Oublikowano pomyslnie",
                          "error": ""
                      }
                  elif resp.status_code == 401:
                      return {"success": "false", "id": "", "link": "", "error": "401 Remote Auth Failed", "message": "Auth Failed"}
                  else:
                      return {"success": "false", "id": "", "link": "", "error": f"API Error {resp.status_code}: {resp.text[:100]}", "message": "Failed"}
                      
              except Exception as e:
                  return {"success": "false", "id": "", "link": "", "error": str(e), "message": "Exception"}
        code_language: python3
        desc: 'Publikuje draft na WP u偶ywajc kodu Python'
        outputs:
          success:
            type: string
          id:
            type: string
          link:
            type: string
          message:
            type: string
          error:
            type: string
        selected: false
        title: WP Publisher (Python)
        type: code
        variables:
        - value_selector:
          - '1720000000095'
          - wp_domain
          variable: domain
        - value_selector:
          - '1720000000095'
          - wp_user
          variable: api_user
        - value_selector:
          - '1720000000095'
          - wp_app_password
          variable: api_key
        - value_selector:
          - '1720000000008'
          - title
          variable: title
        - value_selector:
          - '1720000000008'
          - content
          variable: content
        - value_selector:
          - '1720000000095'
          - target_categories
          variable: target_categories
      height: 54
      id: '1720000000010'
      position:
        x: 2630
        y: 200
      positionAbsolute:
        x: 2630
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: 'contains'
            id: cond_wp_ok
            value: 'true'
            varType: string
            variable_selector:
            - '1720000000010'
            - success
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: WP Success?
        type: if-else
      height: 126
      id: '1720000000100'
      position:
        x: 2930
        y: 200
      positionAbsolute:
        x: 2930
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          def main(item_id, supabase_url, supabase_key, wp_post_id, published_url):
              import requests
              import json
              
              try:
                  headers = {
                      "Authorization": f"Bearer {supabase_key}",
                      "apikey": supabase_key,
                      "Content-Type": "application/json",
                      "Prefer": "return=representation"
                  }
                  
                  url = f"{supabase_url}/rest/v1/items?id=eq.{item_id}"
                  
                  # Ensure ID is int if possible, though PostgREST handles strings often if column matches
                  wpid_val = None
                  if wp_post_id and str(wp_post_id).isdigit():
                      wpid_val = int(wp_post_id)
                  
                  payload = {
                      "status": "PUBLISHED",
                      "wp_post_id": wpid_val if wpid_val else None,
                      "published_url": published_url
                  }
                  
                  resp = requests.patch(url, json=payload, headers=headers, timeout=10)
                  
                  if resp.status_code >= 200 and resp.status_code < 300:
                      return {"result": "success", "error": ""}
                  else:
                      return {"result": "error", "error": f"Supabase Error {resp.status_code}: {resp.text}"}
                      
              except Exception as e:
                  return {"result": "exception", "error": str(e)}
        code_language: python3
        desc: 'Updates Supabase Status via Python'
        outputs:
          result:
            type: string
          error:
            type: string
        selected: false
        title: Update Success (Python)
        type: code
        variables:
        - value_selector:
          - '1720000000001'
          - item_id
          variable: item_id
        - value_selector:
          - '1720000000001'
          - supabase_url
          variable: supabase_url
        - value_selector:
          - '1720000000001'
          - supabase_key
          variable: supabase_key
        - value_selector:
          - '1720000000010'
          - id
          variable: wp_post_id
        - value_selector:
          - '1720000000010'
          - link
          variable: published_url
      height: 104
      id: '1720000000011'
      position:
        x: 3230
        y: 100
      positionAbsolute:
        x: 3230
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - key: ''
            type: text
            value: "{\"status\": \"FAILED_WP\", \"error_message\": \"{{#1720000000010.error#}}\"}"
          type: json
        desc: ''
        headers: "Authorization:Bearer {{#1720000000001.supabase_key#}}\napikey:{{#1720000000001.supabase_key#}}\nContent-Type:application/json\nPrefer: return=representation"
        method: patch
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: WP Fail Log
        type: http-request
        url: "{{#1720000000001.supabase_url#}}/rest/v1/items?id=eq.{{#1720000000001.item_id#}}"
        variables: []
      height: 104
      id: '1720000000101'
      position:
        x: 3230
        y: 300
      positionAbsolute:
        x: 3230
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - key: ''
            type: text
            value: "{\"status\": \"FAILED_SANITY\", \"error_message\": \"{{#1720000000008.error#}}\"}"
          type: json
        desc: ''
        headers: "Authorization:Bearer {{#1720000000001.supabase_key#}}\napikey:{{#1720000000001.supabase_key#}}\nContent-Type:application/json\nPrefer: return=representation"
        method: patch
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Update Failure
        type: http-request
        url: "{{#1720000000001.supabase_url#}}/rest/v1/items?id=eq.{{#1720000000001.item_id#}}"
        variables: []
      height: 104
      id: '1720000000012'
      position:
        x: 2630
        y: 500
      positionAbsolute:
        x: 2630
        y: 500
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1720000000011'
          - body
          variable: success_data
        - value_selector:
          - '1720000000012'
          - body
          variable: failure_data
        selected: false
        title: Koniec
        type: end
      height: 54
      id: '1720000000099'
      position:
        x: 3550
        y: 350
      positionAbsolute:
        x: 3550
        y: 350
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 1
